/*I have highlighted my title by giving the header section a background color.*/
header {
  background-color:rgba(230, 214, 168, 0.678);
}
/*I have added an image for the background of the entire webpage.*/
body{
  background-image:url("images/arabic-design(1).jpg");
}
/*Styling for the title of the webpage.*/
h1{
  font-family:  cursive, sans-serif;
  font-size:500%;
  color:rgb(97, 51, 40);
  text-align:center;
  line-height:80%
  }

  h3{
    font-family:cursive, sans-serif;
    font-size: 200%;
    color:rgb(119, 73, 54);
    text-align:center;

  }

  nav{
    text-align: center;
    padding-bottom:3%;
    font-size:120%;
  }
/*I have positioned and centered the profile image with the center class.*/
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border:2px solid black;
  
}
/*Styling for sub-headings for each section.*/
  h2{
    font-family:cursive, sans-serif;
    font-size: 175%;
    color: rgb(96, 56, 8);
    text-align:center;
  }
/*Styling for all paragraphs, unordered list, and ordered list.*/
  p,ul,ol{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: rgba(51, 11, 11, 0.767);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  /*The horizontal line will cover 35% of the webpage.*/
hr{
  width:35%;
}
  footer{
    text-align:center;
    background-color: rgba(230, 214, 168, 0.678);
  }
/*Different colors will be displayed on the various stages of accessing a link.*/
a:link {color:rgb(81, 25, 5)}
a:visited {color:rgba(128, 36, 0, 0.812)}
a:hover {color:rgba(205, 132, 30, 0.599)}
a:active {color: rgba(218, 178, 106, 0.432) }
